@charset "UTF-8";
/*
font-family: 'Montserrat', sans-serif; //Titre Paragraphe
font-family: 'Open Sans', sans-serif; //Button
background-color: #eaa903; = jaune
background-color: #747d88; = gris pour la police
background-color: #cf0a2c; = rouge
*/
body{
    font-family: 'Arial', sans-serif;
    width: 100%;
    transition: 1s;
}
h1, h2, h3, h4, h5{
    font-family: 'Arial', sans-serif;
    padding-bottom: 10px;
}

a{
    text-decoration: none;
    color: black;
}

/*Button et ses animations*/
.button{
    padding-bottom: 20px;
}
.button a{
    position: relative;
    text-decoration: none;
    border: solid 2px white;
    padding: 4.8px 16px 4.8px 16px;
    border-radius: 12px;
    font-size: 16px;
    color: white;
    font-weight: 700;
    cursor: pointer;/*Curseur*/
    display: inline-block;
    
}
.button a:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
}
.button:hover a {
    padding-right: 30px;
    transition: 0.5s;
}
.button:hover a:after {
    opacity: 1;
    right: 0;
}
/*Fin Button et ses animations*/

/*Menu*/
#top-menu{
	background-color: #cf0a2c;
	line-height: 1em;
}
#top-menu .container{
	padding-top: 0.5em;
	font-weight: 600;
}
#menu-social{
	float: right;
}
#icone-reseau li{
	display: inline;
	list-style: none;
	padding-right: 1em;
}
.fa, .lien{
	color: white;
}
.lien{
	font-size: 13px;
}
.fa:hover, .lien:hover{
	color: white;
	text-decoration: none;
	opacity: 0.8;
}
#logo{
	float: none;
	width: 29%;
}
#logo img{
	width: 45%;
	height: 45%;
	padding-top: 25px;
}
#barre{
	height: 600px;
}
#menu{
	float: right;
	padding-top: 30px;
	padding-right: 50px;
	width: 70%;
}
#menu, #logo{
	text-align: center;
}
#menu li{
	padding-right: 14px;
	font-size: 16px;
}
#menu a{
	color: #354425!important;
}
#covid{
	background-color: #eaa903;
}
#menu a:hover{
	opacity: 0.8;
}
.dropdown-menu{
	display: none;
	border-top: 3px #cf0a2c solid;
	border-radius: 0;
}
.dropdown:hover .dropdown-menu{
	display: block;
}
#search{
	background-color: white;
	border: none;
}
#search:hover{
	color: #cf0a2c!important;
}
#menu form{
	display: none;
}
#formulaire:target{
	display: block;
}
#mobile li{
	list-style: none;
	text-align: left;
}
.mobile-titre{
	background-color: grey;
}
#mobile-menu{
	display: none;
	border-top: 3px #cf0a2c solid;
}
#mobile-icone2{
	display: none;
}
#mobile:target #mobile-menu{
	display: block;
}
#mobile:target #mobile-icone{
	display: none;
}
#mobile:target #mobile-icone2{
	display: block;
}
#mobile-menu:target{
	display: none;
}

@media screen and (max-width: 980px) {
	#top-menu{
		display: none;
	}
}
/*Fin Menu*/

/*Bannière CSS*/
#banniere_text_contenue{/*Contenue de la banière*/
    width: 60%; /*Taille occupé sur l'écran*/
    background-color: #eaa903;
    padding: 2% 8%;
    color: white;
}
#banniere_text_contenue h1{
    font-weight: 600;
    text-transform: uppercase;
    font-size: 55px;
    color: #f7f7f7f7;
    line-height: 1.3em;
    padding-bottom: 10px;
}
#banniere_text_contenue p{
    color: #353740;
    font-size: 18px;
    line-height: 1.8em;
    margin-bottom: 15px;
    font-weight: 500;
}

#banniere_image{
    background-image: url(../images/photo-IUT.jpg);
    width: 40%;
    background-size: cover;
    background-position: 40% 40%;
    
}
/*Fin Bannière CSS*/

/*Candidature CSS*/
#SectionCandidature{
    margin: 100px 60px 100px 60px;
    text-align: center;
}
#titreCandidature
{
    color: #747d88;
    line-height: 1.9em;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 30px;
}
#phraseCalendrierCandidature
{
    color: #333;
    font-weight: 600;
    text-align: center;
    font-size: 25px;
    padding-bottom: 30px;
}
#div_btn{
    text-align: center;
}
.button_jaune a{
    font-size: 18px;
    border: solid 2px #eaa903;
    color: #eaa903;
}

/*Diplome*/
#SectionDiplomes
{
    background-color: #eaa903;
    color: white;
    padding: 60px 0 60px 0;
}
#Diplome_Content{
    max-width: 80%;
    margin:auto;
    text-align: center;
    padding:0;


}
#Diplome_Content h1
{
    margin: 0 auto;
    padding: 2% 0 2% 0;
    font-weight: 500;
    font-size: 36px;
}
#Diplomes{
    display: flex;
    padding:25px 0 25px 0;
    margin: auto;
}
.diplome{
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    margin: 0 3% 0 0;
    padding: 30px;
    
    
}
.diplome .icon{
    font-size: 60px;
    margin: 16px 0;
    
}
.diplome > *{
    flex: 1 1 100%;
}
.diplome h5{
    font-size: 20px;
    font-weight: 700;
}
.diplome p{
    font-size:100%;
    line-height: 1.8em;
}

.diplome a
{
    color: white;
    text-align: center;
    text-decoration: none;
}
/* @media all and (max-width:980px){
    .affichage-logo{
        color: #cf0a2c !important;
    }
} */

@font-face {
    font-family: "ETmodules";
    src: url("font/modules.eot") format("embedded-opentype"), url("font/modules.ttf") format("truetype"), url("font/modules.woff") format("woff"), url("font/modules.svg") format("svg");
    font-style: normal;
    font-weight: normal;
  }
  .affichage-logo{
    font-family: "ETmodules";
    font-size: 60px;
    color: #ffffff;
  }
/*Fin Candidature CSS*/

/*Actualite*/
.actualite{
    padding: 110px 0px 15px 0px;
    width: 100%;
}
.actualite h1{
    text-align: center;
    font-size: 36px;
    color: #747d88;
}
.actualite_box{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFF;
}
.actualite_content a{
    text-decoration: none;
}
.actualite_container h3{
    text-align: left;
    border-left: solid 4px #cf0a2c;
    padding: 0px 20px 0px 20px;
    margin-bottom: 20px;
    font-weight: 700;
    color: #555;
    font-size: 20px;
}
.actualite_container{
    position: relative;
    width: 1200px;
    display: flex;
    justify-content: space-between;
    margin: 20px;
    align-items: flex-start;
}
.actualite_container .actualite_card{
    border: solid 1px #d8d8d8;
    max-width: 400px;
    margin: 10px;
    
}
.actualite_container .actualite_card .actualite_image_box{
    position: relative;
    width: 100%;
    height: 200px;
    left: 0;
}
.actualite_container .actualite_card .actualite_image_box img{
    max-width: 310px;
}
.actualite_container .actualite_card .actualite_content{
    max-width: 278px;
    margin: 10px;
    position: relative;
}
.actualite_container .actualite_card a{
    color: #cf0a2c;
}
.button_jaune a{
    border: solid 2px #eaa903;
    color: #eaa903;
    font-size: 18px;
}
.button_jaune:hover a{
    transition: 0.5s;
}
/*Fin Actualite*/


 /* pARTIE IUT EN CHIFFRE */
 
 #iutEnChiffre {
    background-color: #eaa903;
    color: white;
    padding: 50px 0 50px 0;
    
}

#titreIutEnChiffre {
    text-align: center;
    padding: 20px 0 20px 0;
    margin: 0 170px 0 170px;
    font-weight: 500;
    font-size: 14px;
    color: white;
}

#Chiffre{
    text-align: center;
    margin: auto;
    display: flex;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 20px;
}
.BoxiutEnChiffre{
    width: 220px;
    height: 120px;
    margin: 0px 10px;
    text-transform: uppercase;
}
.nbr{
    font-weight: 700;
    color:  #ffffff;
    text-align: center;
    font-size: 60px;

}

.title{
    font-weight: bold;
    color:  #353740;
    text-align: center;
    font-size: 18px;
}
/*Fin IUT en chiffre*/

/*Footer*/
footer .container{
    background-color: #cf0a2c;
    margin: auto;
    position: relative;
    display: block;
    width: 80%;
    max-width: 1080px;
    padding: 0;
    text-align: left;

    
}

footer .row{
    margin: 0px;
    padding-bottom: 20px;
}
footer .row-1{
    margin: 0px;
    padding-top: 6%;
    
}


footer p{
    display: inline-block;
    color:white;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 500px;
    line-height: 23.8px;
}
footer strong{
    font-weight: bold;
}

footer a{
    color: white;
    display: inline-block;
}
footer a:hover{
    color:white;
    text-decoration: none;
}

footer h4{
    color: white;
    font-size: 19px;
    font-weight: 500px;
}
footer{
    background-color: #cf0a2c;
}

.footer-menu {
    float: left;
    display: grid;

}

footer .col {
    width: 29.667%;
    float: left;
    margin-right: 5.5%; 
    margin-bottom: 5.5%;
    padding: 0;
    

}
/* 
.logo{
    background-image: "images/logo-universite-paris-footer.png";
    height: auto; 
    width: 300px;
} */
footer #a{
    padding-bottom: 1em;
}

footer .image-res{
    margin-bottom: 5.5%;
}
@font-face {
    font-family: "Open Sans";
    src: local("Open Sans Regular"), local("OpenSans-Regular"), url("font/open-sans-v15-latin-ext_latin-regular.eot") format("embedded-opentype"), url("font/open-sans-v15-latin-ext_latin-regular.woff2") format("woff2"), url("font/open-sans-v15-latin-ext_latin-regular.woff") format("woff"), url("font/open-sans-v15-latin-ext_latin-regular.ttf") format("truetype"), url("font/open-sans-v15-latin-ext_latin-regular.svg") format("svg");
    font-style: normal;
    font-weight: 400;
  }

@font-face {
    font-family: "Open Sans";
    src: local("Open Sans Bold"), local("OpenSans-Bold"), url("font/open-sans-v15-latin-ext_latin-700.eot") format("embedded-opentype"), url("font/open-sans-v15-latin-ext_latin-700.woff2") format("woff2"), url("font/open-sans-v15-latin-ext_latin-700.woff") format("woff"), url("font/open-sans-v15-latin-ext_latin-700.ttf") format("truetype"), url("fonts/open-sans-v15-latin-ext_latin-700.svg") format("svg");
    font-style: normal;
    font-weight: 700;
}

/*Fin Footer*/


/*Page réduite*/
@media only all and (max-width: 980px) {
    /*background-color: #f2f2f2; gris clair button hover*/
    
    article{
        background-color: #ffffff !important;
    }
    h1{ 
        font-size: 14px;
        color: #333;
    }
    
    /*Button et ses animations*/
    .button a{
        color: #cf0a2c;
        border: solid 2px #cf0a2c;
        font-size: 18px;
        font-weight: 0;
        border-radius: 0%;
    }
    .button:hover a {
        color: #cf0a2c;
        padding-right: 30px;
        border: none;
        background-color: #f2f2f2;
        transition: 0.5s;
    }
    .button_jaune a{
        border-radius: 0%;
        color: #cf0a2c;
        border: solid 2px #cf0a2c;
    }
    .button:hover a {
        color: #cf0a2c;
    }
    #banniere_image{
        display: none;
    }

    /*Bannière CSS*/
    #banniere_text_contenue{
        display: block;
        box-sizing: border-box;
        width: 100%;
        background-color: white;
        padding-left: 100px;
        padding-right: 100px;
        color: black;
    }
    #banniere_text_contenue h1{
        font-weight: bold;
        font-size: 30px;
        padding-bottom: 15px;
        color: #333;
        margin: 0%;
        padding: 0 0 10px 0;
    }
    #banniere_text_contenue p{
        font-size: 14px;
        margin: 0%;
        padding: 0%;
    }
    /*Fin Bannière CSS*/

    /*Candidature CSS*/
    #phraseCalendrierCandidature{
        margin: 0 10px 0 10px;
        font-size: 20px;
        text-align: left;
        font-weight: bold;
    }
    /*Fin Candidature CSS*/

    /*Diplome CSS*/
    #SectionDiplomes{
        margin: 0%;
        padding: 0%;
    }
    #Diplome_Content h1{
        font-size: 14px;
        color: #333;
    }
    .diplome h5{
        color: #333;
    }
    .diplome p{
        color: #333;
    }
    .affichage-logo{
        color: #cf0a2c !important;
    }
    /*Fin Diplome CSS*/

    /*Actualité CSS*/

    /*Fin Actualité CSS*/

    /*IUT en chiffre CSS*/
    .BoxiutEnChiffre p{
        color: #333;
    }
    /*Fin IUT en chiffre CSS*/
}
/*Fin Page réduite*/