@charset "UTF-8";
/* 
font-family: 'Montserrat', sans-serif; //Titre Paragraphe
font-family: 'Open Sans', sans-serif; //Button
background-color: #eaa903; = jaune
background-color: #747d88; = gris pour la police
background-color: #cf0a2c; = rouge
*/
/*Propiétés général de la page*/

body{
    font-family: 'Arial', sans-serif;
    
}
h1, h2, h3, h4, h5{
    font-family: 'Open Sans', sans-serif;
    padding-bottom: 10px;
}
a{
    text-decoration: none;
    color: black;
}

/*Font pour les icônes et autres police*/
@font-face {
    font-family: "ETmodules";
    src: url("font/modules.eot") format("embedded-opentype"), url("font/modules.ttf") format("truetype"), url("font/modules.woff") format("woff"), url("font/modules.svg") format("svg");
    font-style: normal;
    font-weight: normal;
  }

@font-face {
    font-family: "Open Sans";
    src: local("Open Sans Regular"), local("OpenSans-Regular"), url("font/open-sans-v15-latin-ext_latin-regular.eot") format("embedded-opentype"), url("font/open-sans-v15-latin-ext_latin-regular.woff2") format("woff2"), url("font/open-sans-v15-latin-ext_latin-regular.woff") format("woff"), url("font/open-sans-v15-latin-ext_latin-regular.ttf") format("truetype"), url("font/open-sans-v15-latin-ext_latin-regular.svg") format("svg");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Open Sans";
    src: local("Open Sans Bold"), local("OpenSans-Bold"), url("font/open-sans-v15-latin-ext_latin-700.eot") format("embedded-opentype"), url("font/open-sans-v15-latin-ext_latin-700.woff2") format("woff2"), url("font/open-sans-v15-latin-ext_latin-700.woff") format("woff"), url("font/open-sans-v15-latin-ext_latin-700.ttf") format("truetype"), url("fonts/open-sans-v15-latin-ext_latin-700.svg") format("svg");
    font-style: normal;
    font-weight: 700;
}
@font-face {
    font-family: "Open Sans";
    src: url("font/open-sans-800.woff2") format("woff2");
    font-weight: 800;
  }

/*Pour les scrolls annimations*/
.appararaitre.not_visible{
    opacity: 0;
}
.apparaitre{
    opacity: 1;
    transition: opacity 2.5s;
}
.text_banniere{
    transform: translateY(-50px);
}
.text_banniere.apparition{
    transform: translateY(0);
    transition: transform 2.5s;
}
.diplome.zoom{
    animation: txt_zoom 2.5s ease-out normal;
}
.BoxiutEnChiffre.zoom{
    animation: txt_zoom 1s ease-out normal;
}
@keyframes txt_zoom{
    0%{
        transform: scale(0);
    }
    100%{
        transform: scale(1);
    }
}
/*espacement entre le body-navbar*/
.home_page {
    margin-top: 152px;
}

/*espacement entre le body-navbar*/
.home_page {
    margin-top: 152px;
}

/*Button et ses animations*/
.button{
    margin-bottom: 20px;
}

.button a{
    font-family: 'Open Sans', sans-serif !important;
    letter-spacing: 2px;
    position: relative;
    text-decoration: none;
    border: solid 2px white;
    padding: 4.8px 16px 4.8px 16px;
    border-radius: 100px;
    color: white;
    font-weight: 700;
    cursor: pointer;/*Curseur*/
    display: inline-block;
    
}
.button a:after {
    font-family: 'ETmodules';
    content: 'E';
    position: absolute;
    opacity: 0;
}
.button:hover a {
    padding-right: 30px;
    transition: 0.5s;
}
.button:hover a:after {
    opacity: 1;
    right: 0;
}
/*Fin Button et ses animations*/

/*Menu*/@keyframes transition {
0%   { margin-top: -50px; }
100% { margin-top: 0; }
}
@keyframes opacity {
0%   { opacity: 0%; }
100% { opacity: 100%; }
}
header{
	width: 100%;
	position: fixed;
	border-bottom: 1.5px #e7e7e7 solid;
	z-index: 99999;
}

#top-menu{
	background-color: #cf0a2c;
	height: 32px;
}
#top-menu .fa{
	font-size: 16px;
}
#top-menu .container{
	padding-top: 0.2em;
}
#menu-social{
	float: right;
}
#icone-reseau li{
	display: inline;
	list-style: none;
	padding-right: 1em;
}
.fa, .lien{
	color: white;
}
.lien{
	font-size: 12px;
	font-weight: 600;
}
.fa:hover, .lien:hover{
	color: white;
	text-decoration: none;
	opacity: 0.8;
}
#logo{
	float: left;
	width: 29%;
}
#logo img{
	height: 60px;
	width: 210px;
	margin-top: 30px;
	margin-left: 50px;
}
#barre{
	height: 120px;
	background-color: white;
	font-weight: 600;
	font-family: "Open Sans", Arial, sans-serif;
}
#menu{
	float: none;
	display: inline;
	padding-left: 10px
}
.nav-item{
	padding-top: 10px;
	height: 85px;
}
#menu, #logo{
	text-align: center;
}
#menu li{
	padding-right: 14px;
}
#menu a{
	color: #666666!important;
	font-size: 15px;
}
#covid{
	background-color: #eaa903;
	width: 80px;
}
#menu a:hover{
	opacity: 0.8;
}
.dropdown-menu{
	display: none;
	border-top: 3px #cf0a2c solid!important;
	border-radius: 0;
	border: white;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	padding: 20px 20px 20px 20px;
}
.dropdown-item{
	height: auto;
	padding-top: 5px;
	width: 210px;
	white-space: normal;
}
.dropdown:hover .dropdown-menu{
	display: block;
}
#search{
	background-color: white;
	border: none;
	font-size: 20px!important;
	position: absolute;
	top: 25px;
	transform: scaleX(-1);
}
#search:hover{
	color: #cf0a2c!important;
}
#mobile li{
	list-style: none;
	text-align: left;
}
.sous-titre{
	background-color: white!important;
	border-top: 1px #e7e7e7 solid;
	height: 40px;
	padding-top: 5px;
}
.sous-titre a:hover{
	text-decoration: none;
}
#mobile-menu{
	display: none;
	border-top: 3px #cf0a2c solid;
	margin-top: 5px;
	width: 400px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	padding: 20px 20px 20px 20px;
	background-color: white;
	position: absolute;
	top: 50px;
	right: 25px;
}
#mobile-menu .titre{
	height: 40px;
	padding-top: 5px;
	background-color: #e5e6e5;
}
#mobile-menu .mobile-item{
	padding-left: 10px;
}
#mobile-icone:hover, #mobile-icone2:hover{
	color: #cf0a2c!important;
}
#mobile-icone2{
	display: none;
}
#mobile:target #mobile-menu{
	display: block;
}
#mobile:target #mobile-icone{
	display: none;
}
#mobile:target #mobile-icone2{
	display: block;
}
#mobile-menu:target{
	display: none;
}
#mobile{
	display: none;
	font-size: 20px!important;
}
#close{
	display: none;
}
form{
	display: none;
	margin-top: 10px;
	width: 600px;
}
input{
	width: 100%;
	border: none;
}
#ouvrir:target form{
	display: block;
	animation: transition 1.0s, opacity 1.0s;
}
#ouvrir:target .collapse{
	display: none!important;
}
#ouvrir:target #search{
	display: none;
}
#ouvrir:target #close{
	display: block;
	position: absolute;
	top: 25px;
	right: 100px;
}
#fermer:target{
	display: none;
}
#mobile, #ouvrir{
	font-size: 20px;
}

@media screen and (min-width: 1131px) and (max-width: 1200px) {
	#barre{
		height: 180px;
	}
	.navbar-nav{
		display: grid;
		grid-template-columns: repeat(4, 1fr);
	}
	#logo img{
		height: 90px;
		width: 270px;
		margin-top: 45px;
		margin-left: 95px;
	}
	.nav-item{
		padding-top: 10px;
		height: 72px;
	}
	#trou{
		height: 212px;
	}
}

@media screen and (min-width: 991px) and (max-width: 1130px) {
	#barre{
		height: 180px;
	}
	.navbar-nav{
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		margin-left: 70px;
	}
	#logo img{
		height: 90px;
		width: 270px;
		margin-top: 45px;
		margin-left: 95px;
	}
	.nav-item{
		padding-top: 10px;
		height: 72px;
	}
	#trou{
		height: 212px;
	}
}

@media screen and (max-width: 990px) {
	header{
		position: static;
	}
	#top-menu{
		display: none;
	}
	#mobile{
		display: block;
	}
	#mobile-icone, #mobile-icone2{
		position: absolute;
		top: 6px;
		right: 40px;
		font-size: 20px!important;
	}
	#logo{
		width: 60%;
	}
	#logo img{
		width: 150px;
		height: 45px;
		position: relative;
		top: 15px;
		margin: 0px;

	}
	#barre{
		height: 80px;
	}
	form{
		width: 200px;
		position: absolute;
		bottom: -10px;
		right: 50px;
	}
	#ouvrir:target #mobile{
		display: none;
	}
	#close{
		font-size: 20px!important;
	}
	#search{
		position: absolute;
		top: 6px;
		right: 100px;
	}
	#trou{
		display: none;
	}
}
/*Fin Menu*/

/*Bannière CSS*/

#banniere{
    background-blend-mode: multiply!important;
    background-image: url(../images/logo-opaque.png);
    background-color: #eaa903;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin:0;
}
#banniere_text_contenue{/*Contenue de la banière*/
    width: 60%; /*Taille occupé sur l'écran par le contenue*/
    padding: 2% 8%;
    color: white;
    
}
#banniere_text_contenue h1{
    font-weight: 600;
    text-transform: uppercase;
    font-size: 55px;
    color: #f7f7f7f7;
    line-height: 1.3em;
    padding-bottom: 10px;
}
#banniere_text_contenue p{
    color: #353740;
    font-size: 20px;
    line-height: 1.8em;
    margin-bottom: 15px;
    font-weight: 500;
}

#banniere_image{
    background-image: url(../images/photo-IUT.jpg);
    width: 40%;/*Taille occupé sur l'écran par le'image*/
    background-size: cover;
    background-position: 40% 40%;
    
}
/*Fin Bannière CSS*/

/*Candidature CSS*/

#SectionCandidature{
    padding-top: 60px;
    padding-bottom: 60px;
}

.row-candidature{
    display: flex;
    flex-direction: column;
	width: 80%;
    margin:auto;
    max-width: 1080px;
    padding: 2% 0;

}
#titreCandidature
{
    color: #747d88;
    text-align: center;
    font-size: 36px;
    line-height: 1.9em;
}
#SectionCandidature h3{
    font-size: 22px;
    font-weight: 700!important;
    color: #555;

}
#phraseCalendrierCandidature
{
    color: #333;
    font-weight: 600;
    font-size: 25px;
    padding-bottom: 10px;
}
#div_btn{
    text-align: center;
	  margin-bottom: 40px;
}
.button_jaune a{
    font-size: 18px;
    border: solid 2px #eaa903;
    color: #eaa903;
}

/*Diplome*/
#title-diplomes{
    text-align: center;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    line-height: 1.9em;
}
#SectionDiplomes
{
    background-color: #eaa903;
    color: white;
    padding: 60px 0 60px 0;
}
#Diplome_Content{
    max-width: 80%;
    margin:auto;
    text-align: center;
    padding:0;
}
#Diplome_Content h1
{
    margin: 0 auto;
    padding: 2% 0 2% 0;
    font-weight: 500;
    font-size: 36px;
}
#Diplomes{
    display: flex;
    flex-wrap: wrap;
    padding:25px 0 25px 0;
    margin: auto;
}
.diplome{
    width: 22.75%;
    margin-right: 3%;
    padding: 30px;
}
.diplome:last-child{
    margin-right:0;
}
.diplome .icon{
    font-size: 60px;
    margin: 16px 0;
    
}
/* .diplome > *{
    flex: 1 1 100%;
} */
.diplome h5{
    font-size: 20px;
    font-weight: 700;
}
.diplome p{
    font-size:100%;
    line-height: 1.8em;
}
.diplome a
{
    color: white;
    text-align: center;
    text-decoration: none;
}

/*Fin Candidature CSS*/

/*Actualite*/
.actualite{
    padding: 110px 0px 15px 0px;
    margin: auto;
}
#title-act{
    color: #747d88 !important;
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    line-height: 1.4em;
    text-align: center;
}
.actualite_box{
    display: flex;
    flex-direction: column;
    background: #FFF;
    width: 80%;
    margin: auto;
	max-width: 1080px;
	margin-bottom: 40px;
}
.actualite_content a{
    text-decoration: none;
    color:#666;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 1.7em;
}
.actualite_container h2 {
    font-weight: 700;
	color: #555;
	border-left: 4px solid #CF0A2C;
	padding-left: 12px;
	line-height: 1.5em;
	margin-bottom: 20px;
	padding-bottom: 0;
	font-size: 18px;
}
.actualite_container p {
    color:#666;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.7em;
    margin-bottom:0;
    font-size: 14px;
}

.lien-iut{
    color: #cf0a2c!important;
}

.actualite_container{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.actualite_card{
    width: 29.667%;
    /* margin-right: 5.5%; */
    /* float: left; */
    /* max-width: 100%; */
    border: solid 1px #d8d8d8;
    padding: 19px;

}
.actualite_image_box{
    margin: -20px -20px 29px; 
}
.actualite_image_box img {
    
    /*height: auto;
    vertical-align: bottom;*/
    width: 100%;

}

.actualite_card:last-child{
    margin-right: 0px;
}
.button_jaune a{
    border: solid 2px #eaa903;
    color: #eaa903;
    font-size: 18px;
}
.button_jaune:hover a{
    transition: 0.5s;
}
/*Fin Actualite*/


 /* PARTIE IUT EN CHIFFRE */
 
 #iutEnChiffre {
    background-color: #eaa903;
    color: white;
    padding-bottom: 20px;
    padding-top: 20px;
    
}

#titreIutEnChiffre {
    text-align: center;
    padding: 20px 0 20px 0;
    margin: 0 170px 0 170px;
    font-weight: 500;
    font-size: 14px;
    color: white;
}
#Chiffre{
    text-align: center;
    margin: auto;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 20px;
    width: 80%;
    max-width: 1080px;
}

.BoxiutEnChiffre{
    text-transform: uppercase;
    margin-right: 5.5%;
    width: 15.6%;
    text-align: center;
}

.BoxiutEnChiffre:last-child {
    margin-right: 0;
}

.nbr{
    font-weight: 700;
    color:  #ffffff;
    text-align: center;
    font-size: 60px;
    margin-bottom: 0px;
	
}
#titreIutEnChiffre p{
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    line-height: 1.9em;
    }

.partie h3{
    color: #353740;
    position: relative;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;

}

/*Fin IUT en chiffre*/

/*Footer*/
footer .container{
    background-color: #cf0a2c;
    margin: auto;
    position: relative;
    display: block;
    width: 80%;
    max-width: 1080px;
    padding-top: 2.25%;
    text-align: left; 
}

footer .row {
    flex-wrap: nowrap !important;
}

footer .row >div{
    margin: 0px;
    padding-bottom: 20px;  
}

footer p{
    display: inline-block;
    color:white;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 500px;
    line-height: 23.8px;
}
footer strong{
    font-weight: bold;
}

footer a{
    color: white;
    display: inline-block;
}
footer a:hover{
    color:white;
    text-decoration: none;
}

footer h4{
    color: white;
    font-size: 19px;
    font-weight: 500px;
}
footer{
    background-color: #cf0a2c;
}

.footer-menu {
    float: left;
    display: grid;

}

footer .information-iut {
    width: 29.667%;
    float: left;
    margin-right: 5.5%!important; 
    margin-bottom: 5.5%!important;
    padding: 0;
    

}
footer #a{
    padding-bottom: 1em;
}

footer .image-res{
    margin-bottom: 5.5%;
}

.affichage-logo{
    font-family: "ETmodules";
    font-size: 60px;
    color: #ffffff;
  }


/*Fin Footer*/


/*Page réduite*/
@media only all and (max-width: 980px) {
    /*background-color: #f2f2f2; gris clair button hover*/
    .title {
        color: #666!important;
        font-family: "Open Sans", Arial, sans-serif!important;
        font-size: 14px!important;
    }
    article{
        background-color: #ffffff !important;
    }
    h1{ 
        font-size: 14px;
        color: #333;
    }
    
    /*Button et ses animations*/
    .button a{
        color: #cf0a2c;
        border: solid 2px #cf0a2c;
        font-size: 18px;
        font-weight: 0;
        border-radius: 0%;
    }
    .button:hover a {
        color: #cf0a2c;
        padding-right: 30px;
        border: none;
        background-color: #f2f2f2;
        transition: 0.5s;
    }
    .button_jaune a{
        border-radius: 0%;
        color: #cf0a2c;
        border: solid 2px #cf0a2c;
    }
    .button:hover a {
        color: #cf0a2c;
    }
    #banniere_image{
        display: none;
    }

    /*Bannière CSS*/
    .home_page{
        padding: 50px 0;
        margin:0;

    }
    #banniere{
        background-color: white;
        background-image: none;
    }
    #banniere_text_contenue{
        display: block;
        box-sizing: border-box;
        width: 80%;

        padding:0;
        margin:auto;
        color: black;
    }
    #banniere_text_contenue h1{
        font-weight: 800;
        color: #555;
        font-size: 30px;
        text-transform: none;
        padding-bottom: 0px;
        margin-bottom: 0px;
        
        
    }

    #banniere_text_contenue p{
        font-size: 14px;
        margin: 0%;
        padding: 0%;
        color: #666;
    }
    /*Fin Bannière CSS*/

    /*Candidature CSS*/
    #phraseCalendrierCandidature{
        margin: 0 10px 0 10px;
        font-size: 20px;
        text-align: left;
        font-weight: bold;

    }
    /*Fin Candidature CSS*/

    /*Diplome CSS*/
    .diplome{
        width: 47.25%;
        margin-right: 5.5%;
        margin-bottom: 30px;
        padding:0;
    }
    .diplome:nth-child(2n) {
        margin-right: 0;
    }

    #SectionDiplomes{
        margin: 0%;
        padding: 0%;
    }
    #Diplome_Content h1{
        font-size: 14px;
        color: #333;
    }
    .diplome h5{
        color: #333;
    }
    .diplome p{
        color: #333;
    }
    .affichage-logo{
        color: #cf0a2c !important;
    }
    /*Fin Diplome CSS*/

    /*Actualité CSS*/
    .actualite_container{
        flex-direction: column;
        margin-bottom: 30px;
        width: 100%;
    }
    .actualite_card{
        width: 100%;
        margin-bottom:60px;
        margin-bottom: 30px;
        padding: 19px;
    }

    /*Fin Actualité CSS*/

    /*IUT en chiffre CSS*/
    
    .BoxiutEnChiffre:last-child {
        margin:0;
        float: left;
    }
    .BoxiutEnChiffre:nth-child(2n){
        margin-right: 0;
    }
    .BoxiutEnChiffre p{
        
        
        font-size: 72px;
        font-weight: 500;
        text-align: center;
        font-family: "Open Sans", Arial, sans-serif;
        color: #666;
        
    }

    #titreIutEnChiffre {
        text-align: center;
        padding: 0px;
        margin: 0 170px 0 170px;
        font-weight: 500px;
        font-size: 14px;
        font-family: "Open Sans", Arial, sans-serif;
        color: #666;
    }

    #Chiffre{
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start
        }

    .BoxiutEnChiffre{
    position: center;
    width: 47.25%;
    }



    .title h3{
        font-weight: 700;
        color: #555;
        font-family: "Open Sans", Arial, sans-serif!important;
        text-align: center;
        text-transform: none;
        font-size: 18px;

    }


    /*Fin IUT en chiffre CSS*/

    /*Footer*/
    footer .row{
        flex-wrap: wrap!important;
        padding-top: 10%; 
    }

    footer .information-iut{
        width:100%; 
    }

        
    /*Fin Footer*/
    
} 

@media all and (max-width:470px){
    #Chiffre{
        flex-direction: column;
        align-content: center;
    }
}

/*Fin Page réduite*/

html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}